@font-face {
    font-family: 'PB';
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Pb';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PL';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: 'PM';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'PR';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Ps';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}